* {
  box-sizing: border-box;
}
/*Adding fonts*/
/*For titles and headers*/
@font-face {
  font-family: bigbold;
  src: url("fonts/bigandbold.otf");
}
/*For descriptions, paragraphs, and buttons*/
@font-face {
  font-family: basicFont;
  src: url("fonts/basicFont.ttf");
}
body {
  /*Linear Gradient, Facing Left (270deg)*/
  background: linear-gradient(231deg, #181425, #21ce86, #181425, #ff5ae4, #181425);
  background-size: 850% 850%;
  /*Apply keyframes*/
  animation: GradientBG 25s ease infinite;
}
/*Gradient Background Animation/Scrolling*/
@keyframes GradientBG {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
h1 {
  color: white;
  font-family: bigbold;
  font-size: 50px;
  }
/*Style for the main title (Title at the top of first page)*/
#mainTitle {
  color: white;
  font-size: 90px;
  text-align: left;
  margin-left: -2px;
  }
#mainTitle:hover {
  text-shadow: 0px 0px 5px white;
}
#mainTitle:active {
  text-shadow: 0px 0px 15px white;
}
h2 {
  color: white;
  font-family: bigbold;
  font-size: 50px;
  text-align: left;
}
h3 {
  color: white;
  font-family: bigbold;
  font-size: 30px;
  text-align: left;
}

/*General table styling*/
table, th, td{
  color: white;
  font-family: basicFont;
  border: 4px solid #3a4466;
  padding: 20px;
  border-collapse: collapse;
  background-color: #181425;
  margin-left: auto;
  margin-right: auto;
}
/*Defining style classes for green and red text on tables*/
th.valid{
  color: #63c74d;
}
th.invalid{
  color: #e43b44;
}
/*Title at Top */
.titleDiv{
  background-color: black;
  width: 100%;
  padding: 25px;
  padding-bottom: 0px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  float: left;
}
/*Top title Subtitle*/
#titleSubtitle{
  color: white;
  text-align: left;
  display: block;
  float: left;
  overflow: hidden;
}
/*Anchor Button CSS*/
.anchorButton{
  background-color: #3e8948;
  color: white;
  font-family: basicFont;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3em;
  overflow: hidden;
}
.anchorButton:hover{
  background-color: #63c74d;
  box-shadow: 0px 0px 8px #3e8948;
}
.anchorButton:active{
  box-shadow: 0px 0px 16px #3e8948;
}
/*Link Button CSS*/
.linkButton:link, .linkButton:visited {
  background-color: #3e8948;
  color: white;
  font-family: basicFont;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3em;
  overflow: hidden;
}
.linkButton:hover{
  background-color: #63c74d;
  box-shadow: 0px 0px 8px #3e8948;
}
.linkButton:active{
  box-shadow: 0px 0px 16px #3e8948;
}
/*Used for descriptive paragraphs on title page*/
.paraStyle1{
  color: white;
  font-family: basicFont;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**Download Table**/
.downloadTable{
  float: left;
  overflow: hidden;
  text-align: center;
}
/**Middle Area*/
.main{
  margin-top: 200px;
}
/*List*/
.navList{
  font-family: basicFont;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 16px;
  box-shadow: 0px 5px 15px black;
  z-index: 100;
}
.navList a{
  color: black;
  text-align: left;
}
.navList:hover{
  color: white;
  text-align: left;
  box-shadow: 0px 0px 20px white;
}
.navListItem {
  font-family: basicFont;
  float: left;
  background-color: white;
}
.navListItem:hover{
  background-color: black;
}
.navListItem a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.navListItem:hover a {
  color: white;
}
.cardHolder{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-gap: 64px;
  padding: 64px;
  margin: 0 auto;
  width: max-content;
}
.card{
  display: flex;
  text-align: left;
  text-decoration: none;
  font-family: basicFont;
  color: white;
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 16px;
  align-items: left;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 64px -16px black;
  border: 5px solid white;
}
.card:hover{
  text-decoration: none;
  box-shadow: 0px 0px 48px -16px white;
}
.card h1{
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
}
.card p{
  font-size: 23px;
  margin-top: 64px;
  line-height: 40px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 12px black;
}
/*This extra stuff checks the window width, and "scales" the columns to make sure there is no glitching/weird scrolling with smaller screen sizes*/
  @media only screen and (max-width: 1900px) {
    .cardHolder {
      grid-template-columns: auto auto;
    }
  }

  @media only screen and (max-width:1300px) {
    .cardHolder {
      grid-template-columns: auto;
    }
  }
}
